body{
    
    margin: 0;
    padding: 0;
   
}
.header{
    background-image: url(assets/bg-dark.svg);
    color: white;
}
/* .header_logo{
   width: 20px;
   height: 90px; 
   margin: 30px 0 0 100px;   
} */
.nav_list{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 100vh;
    width: 50%;
    list-style: none;
    
}

.header_actions{
    display: flex;
    flex-direction: row;
}