.inner-feature-section {
  color: white;
  /* border: 3px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7px 0 ;
}
.feature-title{
     text-wrap: balance

}
.feature-text{
     text-wrap: balance

}
.email-input{
    background-color: #72b096;
    border-radius: 40px;
    padding: 4px;
    width: 20%;
}
.inner-email-input{
    background-color: transparent;
    border-style: none;
    flex-grow: 1;

}
.email-start-button{
    position:relative;
    background-color: white;
    border-style: none;
    border-radius: 14px;
    padding: 8px;
    cursor: pointer;
}